{% extends 'base.html.twig' %}

{% import 'macro/common.html.twig' as common %}

{% trans_default_domain "app" %}

{% block content %}
    <h1>
        {{ 'title.dictionary.list'|trans|capitalize }}
        {{ common.glyphicon('plus-sign text-success', path('dictionary_new'), 'dictionary.create'|trans|capitalize, 'ROLE_ADMIN') }}
    </h1>

    {% for dictionary in dictionaries %}
        <h3><a href="{{ path('dictionary_show', { 'id': dictionary.id }) }}">{{ dictionary.name|capitalize }}</a></h3>
        <p class="dictionary-description">{{ dictionary.description }}</p>
        <h4><a href="{{ path('article_index', { 'dictionary': dictionary.id }) }}">{{ 'article.list'|trans|capitalize }}</a></h4>
        <hr>
    {% endfor %}
{% endblock %}
