{% extends 'base.html.twig' %}

{% trans_default_domain "app" %}

{% block content %}
    <h1>{{ 'dictionary.create'|trans|capitalize }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <input class="btn btn-success" type="submit" value="{{ 'buttons.save'|trans|capitalize }}" />
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
