{% trans_default_domain 'FOSUserBundle' %}

{% import 'macro/common.html.twig' as common %}

<div class="page">

    <h1 class="title">
        Edit your profile
        {{ glyphicon('eye-open', path('fos_user_profile_show'), 'Show profile') }}
    </h1>

    <div class="profile">
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-success" type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
        </div>
        {{ form_end(form) }}
    </div>

</div>
