{% trans_default_domain 'FOSUserBundle' %}

{% import 'macro/common.html.twig' as common %}

<div class="page">

    <h1 class="title">
        Your profile
        {{ common.glyphicon('edit', path('fos_user_profile_edit'), 'Edit profile', 'ROLE_SUPER_ADMIN') }}
    </h1>

    <div class="profile">
        <table class="table">
            <tr>
                <td>{{ 'profile.show.username'|trans }}</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>{{ 'profile.show.email'|trans }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </table>
    </div>

</div>