{% extends 'base.html.twig' %}

{% import 'macro/common.html.twig' as common %}

{% trans_default_domain "app" %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{{ 'breadcrumbs.homepage'|trans|capitalize }}</a></li>
        <li class="active">{{ 'title.dictionary.list'|trans|capitalize }}</li>
    </ol>

    <h1>
        {{ 'title.dictionary.list'|trans|capitalize }}
        {{ common.glyphicon('plus-sign text-success', path('dictionary_new'), 'dictionary.create'|trans|capitalize, 'ROLE_ADMIN') }}
    </h1>

    <div class="dictionary-list">
        {% for dictionary in dictionaries %}
            <div class="dictionary-list-item">
                <h3>
                    <a href="{{ path('dictionary_show', { 'id': dictionary.id }) }}">{{ dictionary.name|capitalize }}</a>
                </h3>
                <p class="dictionary-description">{{ dictionary.description }}</p>
                <h4>
                    <a href="{{ path('article_index', { 'dictionary': dictionary.id }) }}">{{ 'article.list'|trans|capitalize }}</a>
                </h4>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
