{% extends 'base.html.twig' %}

{% block content %}
    <h1>Dictionaries list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for dictionary in dictionaries %}
            <tr>
                <td><a href="{{ path('dictionary_show', { 'id': dictionary.id }) }}">{{ dictionary.id }}</a></td>
                <td>{{ dictionary.name }}</td>
                <td>{{ dictionary.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dictionary_show', { 'id': dictionary.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('article_index', { 'dictionary': dictionary.id }) }}">articles</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('dictionary_edit', { 'id': dictionary.id }) }}">edit</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('dictionary_new') }}">Create a new dictionary</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
