{% extends 'base.html.twig' %}
{% trans_default_domain "app" %}
{% import _self as this %}

{% block content %}
    {% set creationMode = article.id is empty %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{{ 'breadcrumbs.homepage'|trans|capitalize }}</a></li>
        <li><a href="{{ path('dictionary_index') }}">{{ 'title.dictionary.list'|trans|capitalize }}</a></li>
        <li><a href="{{ path('dictionary_show', {'id':article.dictionary.id}) }}">{{ article.dictionary.name }}</a></li>
        <li>
            <a href="{{ path('article_index', {'dictionary': article.dictionary.id}) }}">{{ 'article.list'|trans|capitalize }}</a>
        </li>
        {% if creationMode %}
            <li class="active">{{ 'article.create'|trans|capitalize }}</li>
        {% else %}
            <li>
                <a href="{{ path('article_show', {'dictionary': article.dictionary.id, 'id': article.id}) }}">
                    {{ article.title|capitalize }}
                </a>
            </li>
            <li class="active">{{ 'article.edit'|trans|capitalize }}</li>
        {% endif %}
    </ol>

    <h1>{{ (creationMode ? 'article.create' : 'article.edit')|trans|capitalize }}
        {% if delete_form is defined %}
            {{ form_start(delete_form, {'attr': {'class': 'glyphicon-delete-form' }}) }}
            <button class="glyphicon glyphicon-minus-sign text-danger"></button>
            {{ form_end(delete_form) }}
        {% endif %}
    </h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.grammar) }}

    {{ this.childFrom('meaning', form.meanings) }}
    {{ this.childFrom('link', form.links) }}
    {{ this.childFrom('comment', form.comments) }}

    <input class="btn btn-success" type="submit" value="{{ 'buttons.save'|trans|capitalize }}"/>
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/article/articleForm.js') }}"></script>
{% endblock %}

{% macro childFrom (name, elements) %}
    {% import _self as this %}

    <h3>{{ name|capitalize }}s
        <a href="#"
           class="glyphicon glyphicon-plus-sign text-success"
           aria-hidden="true"
           title="Add {{ name }}"
           id="add-{{ name }}-link"></a>
    </h3>

    <div id="{{ name }}s-container"
         class="{{ name }}s panel panel-default"
         data-prototype="{{ this.childFormElement(form_widget(elements.vars.prototype))|e('html_attr') }}">
        {% for element in elements %}
            {% set rows %}
                {% for subElement in element %}
                    {{ form_row(subElement) }}
                {% endfor %}
            {% endset %}
            {{ this.childFormElement(rows) }}
        {% endfor %}
    </div>

    {# Such js-code is required. It is placed in separate file. #}
    {#<script>#}
    {#jQuery(document).ready(function () { initFormFactory($('#{{ name }}s-container'), $('#add-{{ name }}-link'));});#}
    {#</script>#}

{% endmacro %}

{% macro childFormElement (rows) %}
    <div class="panel-heading text-right">
        <a href="#"
           class="delete-form-child-link glyphicon glyphicon-minus-sign text-danger"
           aria-hidden="true"
           title="{{ 'buttons.delete'|trans }}"></a>
    </div>
    <div class="panel-body">
        {{ rows|raw }}
    </div>
{% endmacro %}